Features (buurtniveau)
- Hoeveelheid sociale instellingen / musea / scholen etc (Maria)
- Hoeveelheid verzorgingstehuizen / bejaardetehuizen (Maria)
- Winkels / supermarkten (Maria)
- **Mensen per m2**
- **Slecht te been** 
- **Bouwjaar**
- WOZ (Maria)
- Elektra gebruik? (Richard)
- Gas verbruik? (Richard)
- Eenrichtingsverkeer / iets met infrastructuur(Oumayma)
- Gemiddelde afstand tot brandweerkazerne (Oumayma)
- Dummy dataset voorbereiden (Richard)

In [3]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [4]:
# Get list of all neighbor names of Amsterdam.
df_code = pd.read_csv('../Data/cbs/brt2020.csv', delimiter = ';')

In [5]:
df_code = df_code[df_code.GM_NAAM == 'Amsterdam']
df_code

,buurtcode2020,buurtnaam2020,GM_2020,GM2020,GM_NAAM,WK_2020,WK2020,WK_NAAM
3621,3630000,Kop Zeedijk,GM0363,363,Amsterdam,WK036300,36300,Burgwallen-Oude Zijde
3622,3630001,Oude Kerk e.o.,GM0363,363,Amsterdam,WK036300,36300,Burgwallen-Oude Zijde
3623,3630002,Burgwallen Oost,GM0363,363,Amsterdam,WK036300,36300,Burgwallen-Oude Zijde
3624,3630003,Nes e.o.,GM0363,363,Amsterdam,WK036300,36300,Burgwallen-Oude Zijde
3625,3630004,BG-terrein e.o.,GM0363,363,Amsterdam,WK036300,36300,Burgwallen-Oude Zijde
...,...,...,...,...,...,...,...,...
4095,3639701,Gein Zuidwest,GM0363,363,Amsterdam,WK036397,36397,Gein
4096,3639702,Gein Noordoost,GM0363,363,Amsterdam,WK036397,36397,Gein
4097,3639703,Gein Zuidoost,GM0363,363,Amsterdam,WK036397,36397,Gein
4098,3639800,Dorp Driemond,GM0363,363,Amsterdam,WK036398,36398,Driemond
4099,3639801,Landelijk gebied Driemond,GM0363,363,Amsterdam,WK036398,36398,Driemond

In [16]:
buurten = list(df_code['buurtnaam2020'])
wijken = df_code['WK_NAAM'].unique()
print(len(buurten))
print(len(wijken))

479
99

In [7]:
# Get age
df_CBS = pd.read_csv('../Data/CBS_1.csv', delimiter = ';')
df_CBS

,ID,WijkenEnBuurten,Gemeentenaam_1,SoortRegio_2,Codering_3,IndelingswijzigingWijkenEnBuurten_4,AantalInwoners_5,k_0Tot15Jaar_8,k_65JaarOfOuder_12,GemiddeldeHuishoudensgrootte_32,Bevolkingsdichtheid_33,GemiddeldeWoningwaarde_35,PercentageOnbewoond_39,BouwjaarVoor2000_45,BouwjaarVanaf2000_46,GemiddeldElektriciteitsverbruikTotaal_47,GemiddeldAardgasverbruikTotaal_55,WmoClientenRelatief_90
0,936,GM0363,Amsterdam,Gemeente,GM0363,.,873338,123066,113429,1.8,5277,.,.,.,.,.,.,.
1,937,WK036300,Amsterdam,Wijk,WK036300,1,4520,210,450,1.4,12936,.,.,.,.,.,.,.
2,938,BU03630000,Amsterdam,Buurt,BU03630000,1,1110,45,100,1.4,18349,.,.,.,.,.,.,.
3,939,BU03630001,Amsterdam,Buurt,BU03630001,1,695,20,70,1.4,7910,.,.,.,.,.,.,.
4,940,BU03630002,Amsterdam,Buurt,BU03630002,1,1645,90,180,1.4,26460,.,.,.,.,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,1510,BU03639702,Amsterdam,Buurt,BU03639702,1,3245,450,660,2.3,5109,.,.,.,.,.,.,.
575,1511,BU03639703,Amsterdam,Buurt,BU03639703,1,3355,510,630,2.0,4676,.,.,.,.,.,.,.
576,1512,WK036398,Amsterdam,Wijk,WK036398,1,1625,305,285,2.4,928,.,.,.,.,.,.,.
577,1513,BU03639800,Amsterdam,Buurt,BU03639800,1,1480,265,275,2.3,5099,.,.,.,.,.,.,.
578,1514,BU03639801,Amsterdam,Buurt,BU03639801,1,140,45,10,3.5,98,.,.,.,.,.,.,.

In [18]:
df_buurt = df_CBS[df_CBS.SoortRegio_2 == 'Buurt     ']
df_buurt = df_buurt[['Codering_3', 'AantalInwoners_5', 'k_0Tot15Jaar_8', 'k_65JaarOfOuder_12', 'GemiddeldeHuishoudensgrootte_32', 'Bevolkingsdichtheid_33']]
df_buurt.rename(columns={'Codering_3': 'BuurtCode', 'AantalInwoners_5': 'InwonersTotaal', 'k_0Tot15Jaar_8': 'Leeftijd 0-15', 'k_65JaarOfOuder_12': 'Leeftijd 65+', 'GemiddeldeHuishoudensgrootte_32' : 'GemiddeldeHuishoudensgrootte', 'Bevolkingsdichtheid_33' : 'Bevolkingsdichtheid'}, inplace=True)
df_buurt

,BuurtCode,InwonersTotaal,Leeftijd 0-15,Leeftijd 65+,GemiddeldeHuishoudensgrootte,Bevolkingsdichtheid
2,BU03630000,1110,45,100,1.4,18349
3,BU03630001,695,20,70,1.4,7910
4,BU03630002,1645,90,180,1.4,26460
5,BU03630003,365,25,30,1.5,6883
6,BU03630004,690,40,80,1.4,8161
...,...,...,...,...,...,...
573,BU03639701,1665,310,125,1.9,9544
574,BU03639702,3245,450,660,2.3,5109
575,BU03639703,3355,510,630,2.0,4676
577,BU03639800,1480,265,275,2.3,5099
578,BU03639801,140,45,10,3.5,98

In [20]:
df_buurt.insert(3, '% Leeftijd 0-15', (df_buurt['Leeftijd 0-15'] / df_buurt['InwonersTotaal']) *100)
df_buurt.insert(5, '% Leeftijd 65+', (df_buurt['Leeftijd 65+'] / df_buurt['InwonersTotaal']) *100)
df_buurt.insert(1, 'BuurtNaam', buurten)

In [21]:
df_buurt

,BuurtCode,BuurtNaam,InwonersTotaal,Leeftijd 0-15,% Leeftijd 0-15,Leeftijd 65+,% Leeftijd 65+,GemiddeldeHuishoudensgrootte,Bevolkingsdichtheid
2,BU03630000,Kop Zeedijk,1110,45,4.054054,100,9.009009,1.4,18349
3,BU03630001,Oude Kerk e.o.,695,20,2.877698,70,10.071942,1.4,7910
4,BU03630002,Burgwallen Oost,1645,90,5.471125,180,10.942249,1.4,26460
5,BU03630003,Nes e.o.,365,25,6.849315,30,8.219178,1.5,6883
6,BU03630004,BG-terrein e.o.,690,40,5.797101,80,11.594203,1.4,8161
...,...,...,...,...,...,...,...,...,...
573,BU03639701,Gein Zuidwest,1665,310,18.618619,125,7.507508,1.9,9544
574,BU03639702,Gein Noordoost,3245,450,13.867488,660,20.338983,2.3,5109
575,BU03639703,Gein Zuidoost,3355,510,15.201192,630,18.777943,2.0,4676
577,BU03639800,Dorp Driemond,1480,265,17.905405,275,18.581081,2.3,5099
578,BU03639801,Landelijk gebied Driemond,140,45,32.142857,10,7.142857,3.5,98

In [22]:
df_buurt.to_csv('buurt_leeftijd_bevolkingsdichtheid.csv')

In [87]:
# Get building year
df_bouwjaar = pd.read_csv('../Data/Kerncijfers_wijken_en_buurten_2020.csv', delimiter = ';', skiprows = 3)
df_bouwjaar = df_bouwjaar[['Wijken en buurten', 'Wonen|Woningen naar bouwjaar|Bouwjaar voor 2000' , 'Wonen|Woningen naar bouwjaar|Bouwjaar vanaf 2000']]
df_bouwjaar.rename(columns={'Wonen|Woningen naar bouwjaar|Bouwjaar voor 2000' : 'Bouwjaar voor 2000', 'Wonen|Woningen naar bouwjaar|Bouwjaar vanaf 2000' : 'Bouwjaar vanaf 2000'}, inplace=True)
df_bouwjaar

             Wijken en buurten Bouwjaar voor 2000 Bouwjaar vanaf 2000
0        Burgwallen-Oude Zijde                 95                   5
1                  Kop Zeedijk                 96                   4
2               Oude Kerk e.o.                 87                  13
3              Burgwallen Oost                 96                   4
4                     Nes e.o.                 98                   2
..                         ...                ...                 ...
573             Gein Noordoost                100                   0
574              Gein Zuidoost                100                   0
575                   Driemond                 90                  10
576              Dorp Driemond                 94                   6
577  Landelijk gebied Driemond                 32                  68

[578 rows x 3 columns]

In [104]:
df_bouwjaar_buurt = df_bouwjaar[~df_bouwjaar['Wijken en buurten'].isin(wijken)]
df_bouwjaar_buurt

             Wijken en buurten Bouwjaar voor 2000 Bouwjaar vanaf 2000
1                  Kop Zeedijk                 96                   4
2               Oude Kerk e.o.                 87                  13
3              Burgwallen Oost                 96                   4
4                     Nes e.o.                 98                   2
5              BG-terrein e.o.                100                   0
..                         ...                ...                 ...
572              Gein Zuidwest                100                   0
573             Gein Noordoost                100                   0
574              Gein Zuidoost                100                   0
576              Dorp Driemond                 94                   6
577  Landelijk gebied Driemond                 32                  68

[475 rows x 3 columns]

In [105]:
df_bouwjaar_buurt.to_csv('buurt_bouwjaar.csv')