In [1]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
df_kadaster = pd.read_csv('amsterdamzuid.csv', index_col=False) 
# Preview the first 5 lines of the loaded data 
df_kadaster.columns =['id','perceelid', 'perceeltype', 'huisnr', 'huisnr_bag_letter','huisnr_bag_toevoeging','bag_nummeraanduidingid','bag_adresseerbaarobjectid','lat','lon','rdx','rdy','oppervlakte','gebruiksdoel','reeksid']
df_kadaster = df_kadaster.drop(['id'],axis=1)
df_kadaster = df_kadaster.set_index('perceelid')
df_kadaster.head()

/Users/jellevanderschoot/.pyenv/versions/3.9.4/envs/venv_python_dsp/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

,perceeltype,huisnr,huisnr_bag_letter,huisnr_bag_toevoeging,bag_nummeraanduidingid,bag_adresseerbaarobjectid,lat,lon,rdx,rdy,oppervlakte,gebruiksdoel,reeksid
perceelid,,,,,,,,,,,,,
2,verblijfsobject,105,NaN,2,3.632000e+14,3.630100e+14,52.377782,4.905169,122177.0,487877.0,96,kantoorfunctie,1
3,verblijfsobject,105,NaN,3,3.632000e+14,3.630100e+14,52.377782,4.905169,122177.0,487877.0,1,woonfunctie,1
4,verblijfsobject,105,NaN,H,3.632000e+14,3.630100e+14,52.377782,4.905169,122177.0,487877.0,1,winkelfunctie,1
5,verblijfsobject,106,NaN,1,3.632000e+14,3.630100e+14,52.377835,4.905286,122185.0,487882.9,1,kantoorfunctie,2
6,verblijfsobject,106,NaN,2,3.632000e+14,3.630100e+14,52.377836,4.905286,122185.0,487883.0,91,kantoorfunctie,2

In [2]:
df_kadaster

,perceeltype,huisnr,huisnr_bag_letter,huisnr_bag_toevoeging,bag_nummeraanduidingid,bag_adresseerbaarobjectid,lat,lon,rdx,rdy,oppervlakte,gebruiksdoel,reeksid
perceelid,,,,,,,,,,,,,
2,verblijfsobject,105,NaN,2,3.632000e+14,3.630100e+14,52.377782,4.905169,122177.0000,487877.0000,96,kantoorfunctie,1
3,verblijfsobject,105,NaN,3,3.632000e+14,3.630100e+14,52.377782,4.905169,122177.0000,487877.0000,1,woonfunctie,1
4,verblijfsobject,105,NaN,H,3.632000e+14,3.630100e+14,52.377782,4.905169,122177.0000,487877.0000,1,winkelfunctie,1
5,verblijfsobject,106,NaN,1,3.632000e+14,3.630100e+14,52.377835,4.905286,122185.0000,487882.9000,1,kantoorfunctie,2
6,verblijfsobject,106,NaN,2,3.632000e+14,3.630100e+14,52.377836,4.905286,122185.0000,487883.0000,91,kantoorfunctie,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8616908,standplaats,128,NaN,NaN,4.570300e+14,4.570300e+14,52.316760,5.032313,130801.1685,481037.5288,0,NaN,43229
8616909,standplaats,132,NaN,NaN,4.570300e+14,4.570300e+14,52.316833,5.032573,130818.9572,481045.5172,0,NaN,43229
8616910,standplaats,136,NaN,NaN,4.570300e+14,4.570300e+14,52.316890,5.032780,130833.0965,481051.8672,0,NaN,43229
8616911,standplaats,138,NaN,NaN,4.570300e+14,4.570300e+14,52.317017,5.032414,130808.1942,481066.0750,0,NaN,43229
8616912,standplaats,142,NaN,NaN,4.570300e+14,4.570300e+14,52.316950,5.032174,130791.7838,481058.6795,0,NaN,43229

In [4]:
straal = 20

df = df_kadaster.copy()

for i, j in df.iterrows():
    rdx_punt = j[8]
    rdy_punt = j[9]

    rdx_min = rdx_punt - straal
    rdx_max = rdx_punt + straal
    rdy_min = rdy_punt - straal 
    rdy_max = rdy_punt + straal

    ##jel = ((df['rdx'] > rdx_min) & 
    ##            (df['rdx'] < rdx_max) & 
    ##            (df['rdy'] > rdy_min) &
     ##           (df['rdy'] < rdy_max)).sum()

    rslt_df = df[(df['rdx'] > rdx_min) &
               (df['rdx'] < rdx_max) &
              (df['rdy'] > rdy_min) &
              (df['rdy'] < rdy_max)]

    #print("Lat/lon: " + str(rdx_punt) + " / " + str(rdy_punt) + " == " + str(jel))
    jel = len(rslt_df.index)
    df.at['Buren', i] = jel
df
df.to_csv('buren.csv')

KeyboardInterrupt:

In [1]:
df

NameError: name 'df' is not defined

In [12]:
df_dummy = pd.read_csv('dummy_def.csv',delimiter=';') 

df_dummy.tail()

,object_id,incident,nr_of_accomodations_in_building,nr_of_residential_accomodations_in_building,floorsize_accomodation,construction_year,timeline,function,situation,ownership,is_monument,neighborhood,nr_of_inspections_within_timeline,nr_of_inspections_with_observation,nr_of_inspections_without_observation
188803,82dc2820e82c5b79e6876209e83c802ac36fbf8d72b5f1...,0,4,0,415,1836,31/12/9999,Kantoor|Opslag/magazijn,Vrijstaand gebouw,Huur,1,Van der Pekbuurt,6,1,5
188804,91d8b28b71969b077b037223083a833f95d2f0a0e3c75e...,0,4,1,1507,1615,31/12/9999,Kantoor,Tussengebouw,Eigendom,0,Leliegracht e.o.,1,0,1
188805,1f44551055c236017d222f45189196ba7ab2bd2a0c38f7...,0,4,3,22194,1618,31/12/9999,Overige ruimten,Vrijstaand gebouw,Huur,0,Nieuwe Kerk e.o.,3,2,1
188806,f7897f3ba448a860eb0ee2909324d5dd5e20b1e863bd03...,0,26,25,36,1712,09/08/2013,Woning,Tussengebouw,Huur,0,Weesperbuurt,1,0,1
188807,f7897f3ba448a860eb0ee2909324d5dd5e20b1e863bd03...,0,22,10,25,1712,31/12/9999,Woning,Tussengebouw,Huur,0,Weesperbuurt,4,2,2