In [8]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
df_kadaster = pd.read_csv('amsterdam.csv') 
# Preview the first 5 lines of the loaded data 
df_kadaster.columns =['id','perceelid', 'perceeltype', 'huisnr', 'huisnr_bag_letter','huisnr_bag_toevoeging','bag_nummeraanduidingid','bag_adresseerbaarobjectid','lat','lon','rdx','rdy','oppervlakte','gebruiksdoel','reeksid']
df_kadaster.head()

,id,perceelid,perceeltype,huisnr,huisnr_bag_letter,huisnr_bag_toevoeging,bag_nummeraanduidingid,bag_adresseerbaarobjectid,lat,lon,rdx,rdy,oppervlakte,gebruiksdoel,reeksid
0,0,2,verblijfsobject,105,NaN,2,3.632000e+14,3.630100e+14,52.377782,4.905169,122177.0,487877.0,96,kantoorfunctie,1
1,1,3,verblijfsobject,105,NaN,3,3.632000e+14,3.630100e+14,52.377782,4.905169,122177.0,487877.0,1,woonfunctie,1
2,2,4,verblijfsobject,105,NaN,H,3.632000e+14,3.630100e+14,52.377782,4.905169,122177.0,487877.0,1,winkelfunctie,1
3,3,5,verblijfsobject,106,NaN,1,3.632000e+14,3.630100e+14,52.377835,4.905286,122185.0,487882.9,1,kantoorfunctie,2
4,4,6,verblijfsobject,106,NaN,2,3.632000e+14,3.630100e+14,52.377836,4.905286,122185.0,487883.0,91,kantoorfunctie,2

In [11]:
df_dummy = pd.read_csv('dummy_def.csv',delimiter=';') 

df_dummy.tail()

,object_id,incident,nr_of_accomodations_in_building,nr_of_residential_accomodations_in_building,floorsize_accomodation,construction_year,timeline,function,situation,ownership,is_monument,neighborhood,nr_of_inspections_within_timeline,nr_of_inspections_with_observation,nr_of_inspections_without_observation
0,1b47f57e7692d3c095345d98bfd85b1c06dd9c268d5dd4...,0,15,13,29,983,31/12/9999,Woning|Berging/schuur,Tussengebouw,Huur,0,Anjeliersbuurt,0,0,0
1,1b47f57e7692d3c095345d98bfd85b1c06dd9c268d5dd4...,0,14,4,19,983,31/12/9999,Woning|Berging/schuur,Tussengebouw,Huur,0,Anjeliersbuurt Zuid,0,0,0
2,4db936db50deabc74a224621503fc16465e29f23fcb595...,0,10,8,51,983,31/12/9999,Woning|Berging/schuur,Tussengebouw,Huur,0,Anjeliersbuurt,0,0,0
3,4db936db50deabc74a224621503fc16465e29f23fcb595...,0,15,3,36,983,31/12/9999,Woning|Berging/schuur,Tussengebouw,Huur,0,Anjeliersbuurt Zuid,0,0,0
4,4db936db50deabc74a224621503fc16465e29f23fcb595...,0,10,8,18,983,18/06/2012,woning,Tussengebouw,Huur,0,Anjeliersbuurt,0,0,0