In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_excel('/Users/mariaahannach/Downloads/Museum.xlsx')
df.tail()

                      Museum              Straat  Postcode code
72             Museum Vrolik     Meibergdreef 15      1105   AZ
73                Witsenhuis       Oosterpark 82      1092  AV
74  Museum Willet-Holthuysen     Herengracht 605      1017   CE
75            Woonbootmuseum  Elandsgracht 35-BG      1016   TN
76                Zuiderkerk    Zuiderkerkhof 72      1011   WB

In [2]:
df1 = pd.read_excel('/Users/mariaahannach/Downloads/wijk.xlsx')
df1.tail()

          PC6  Postcode code  Buurt2020  Wijk2020  Gemeente2020
16378  1095AK      1095   AK    3633200     36332           363
16379  1095AL      1095   AL    3633200     36332           363
16380  1095AM      1095   AM    3633200     36332           363
16381  1095AN      1095   AN    3633200     36332           363
16382  1095AP      1095   AP    3633200     36332           363

In [3]:
df2 = pd.merge(df, df1, on='Postcode').drop_duplicates(subset=["Straat"])
df2.tail()

,Museum,Straat,Postcode,code_x,PC6,code_y,Buurt2020,Wijk2020,Gemeente2020
24338,Persmuseum,Cruquiusweg 31,1019,AT,1019AA,AA,3633310,36333,363
24671,Museum Het Schip,Oostzaanstraat 45,1013,WG,1013AA,AA,3630500,36305,363
25060,Tropenmuseum,Linnaeusstraat 2,1092,CK,1092AA,AA,3632801,36328,363
25277,Witsenhuis,Oosterpark 82,1092,AV,1092AA,AA,3632801,36328,363
25494,Van Eesterenmuseum,Noordzijde 31,1064,GV,1064AA,AA,3637700,36377,363

In [8]:
df3 = pd.read_excel('/Users/mariaahannach/Downloads/brt2020.xlsx')
df3.tail()

,buurtcode2020,buurtnaam2020,GM_2020,GM2020,GM_NAAM,WK_2020,Wijk2020,WK_NAAM
13803,18590414,Ruurlo Centrum,GM1859,1859,Berkelland,WK185904,185904,Wijk 04 Ruurlo
13804,18590415,Haarskamp,GM1859,1859,Berkelland,WK185904,185904,Wijk 04 Ruurlo
13805,18590416,Leusinkbrink,GM1859,1859,Berkelland,WK185904,185904,Wijk 04 Ruurlo
13806,18590417,'t Loo,GM1859,1859,Berkelland,WK185904,185904,Wijk 04 Ruurlo
13807,18590418,Industrieterrein Ruurlo,GM1859,1859,Berkelland,WK185904,185904,Wijk 04 Ruurlo

In [9]:
df4 = pd.merge(df2, df3, on = "Wijk2020")
df4.tail()

,Museum,Straat,Postcode,code_x,PC6,code_y,Buurt2020,Wijk2020,Gemeente2020,buurtcode2020,buurtnaam2020,GM_2020,GM2020,GM_NAAM,WK_2020,WK_NAAM
421,Van Eesterenmuseum,Noordzijde 31,1064,GV,1064AA,AA,3637700,36377,363,3637701,Noordoever Sloterplas,GM0363,363,Amsterdam,WK036377,Slotermeer-Zuidwest
422,Van Eesterenmuseum,Noordzijde 31,1064,GV,1064AA,AA,3637700,36377,363,3637702,Buurt 4 Oost,GM0363,363,Amsterdam,WK036377,Slotermeer-Zuidwest
423,Van Eesterenmuseum,Noordzijde 31,1064,GV,1064AA,AA,3637700,36377,363,3637703,Buurt 5 Noord,GM0363,363,Amsterdam,WK036377,Slotermeer-Zuidwest
424,Van Eesterenmuseum,Noordzijde 31,1064,GV,1064AA,AA,3637700,36377,363,3637704,Sloterpark,GM0363,363,Amsterdam,WK036377,Slotermeer-Zuidwest
425,Van Eesterenmuseum,Noordzijde 31,1064,GV,1064AA,AA,3637700,36377,363,3637705,Buurt 5 Zuid,GM0363,363,Amsterdam,WK036377,Slotermeer-Zuidwest

In [10]:
dff = df4.groupby(["buurtcode2020", "Wijk2020"]).Museum.count().reset_index()
dff.tail()

     buurtcode2020  Wijk2020  Museum
103        3639002     36390       1
104        3639003     36390       1
105        3639004     36390       1
106        3639008     36390       1
107        3639009     36390       1